#title {
  background-color: #ff4c68;
  color: white;
}

body{
  font-family: 'Montserrat';

}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.33px;
  color: white;
}

h2{
  font-weight: bold;
  letter-spacing: 0.5px;
}

h3{
  font-weight: bold;
}

p{
  color: #8f8f8f;
}

/* Navigation Bar */

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  /* font-weight:bold; */

}


.nav-item{
  padding: 0 18px;
}

.nav-link{

  font-size: 1rem;
}

.container-fluid{
  padding: 3% 15% 7%;
}


/* Download Buttons */

.download-button{
  margin: 5% 3% 5% 0;
}


/* Title Image */

.title-image{
  width: 63%;
  transform: rotate(25deg);
  position:absolute;
  right: 30%;
}
.image-size{
  position: relative;
 }

/* Features */

#features{
  padding: 7% 15%;
  letter-spacing: 0.5px;
  background-color: white;
  z-index: 1;           /* this particular line can be removed as features is below*/
  position: relative;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{                 /*  pseudo classs */
  color: #ff4c68;
}



/* Testimonial Section */

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: white;

}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

/* Pricing Section */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

/* CTA Section */

#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading{
  font-family: 'Montserrat';
  letter-spacing: 0.5px;
  font-size: 2.5rem;
  line-height: 1.5;


}

/* Footer Section */

#footer{
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}

@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
    position: absolute;
    width: 50%;
  }
  .image-size{
    position: relative;
    height: 500px;


   }
}
